.button {
  margin: 1rem;
  border-radius: 20px;
  width: 100px;
  background-color: #19a2c1;
  color: white;
  border: 2px solid white;
  padding: 6px;
}

.button:hover {
  opacity: 0.7;
}

/* remove outline */
.button:focus {
  outline: none;
}
