* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}
.contacts-wrapper {

  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.contacts-wrapper>li {
  list-style: none;
}